body {
    background-image: url('./img/city-urban-roads-streets-abstract-600nw-2549149503.webp');
    position: relative;
    display: flex;
    height: 100vh;
    width: auto;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    column-gap: 50px;
    /* border: 2px solid black; */
    height: 80%;
    width: 85%;
    min-width: 1000px;
    min-height: 600px;
    margin-left: 175px;
    padding: 10px;
}

.contact-us-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid black; */
    padding: 30px 5px 30px 10px;
}

.contact-us {
    /* border: 2px solid black; */
    font-size:xx-large;
    font-weight: bold;
}

.details {
    /* border: 2px solid black; */
    font-size: 1.1em;
    margin-bottom: 20px;
}

.location {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    background-color: rgba(0, 0, 0, 0.349);
    height: 80px;
    width: 300px;
    border-radius: 8px;
    align-items: center;
    padding-top: 6px;
    box-sizing: border-box;
    /* padding: 2px; */
    clip-path:path('M 0 0 L 300 0 L 300 52 A 8 8 0,0,1 292 60 L 165 60 L 150 80 L 135 60 L 8 60  A 8 8 0,0,1 0 50  Z') ;
}

.company-name {
    font-weight: bold;
}

.company-address {
    opacity: 0.8;
}

.location-point {
    position: relative;
    left: 145px;
    bottom: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.349);
    box-shadow: 0px 0px 7px 4px rgb(250, 135, 135); 
}

.form {
    /* border: 2px solid black; */
    padding: 30px 50px 30px 50px;
}

.form-body {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.541);
    /* border: 2px solid black; */
    height: 90%;
    width: 60%;
    padding: 20px;
    border-radius: 16px;
    transition: scale 0.3s ease-out;
}

.container:hover{
    .form-body {
        animation: bounce 1s ease-in-out 0s 1 normal;
        transition: all 0.15 none 0.86s;
        scale: 1.11;
    }

    .location {
        animation: happy 1s ease-in-out 2s 1;
    }
}

@keyframes happy {
    25% {transform: rotateY(45deg);}
    50% {transform: rotateY(0deg);}
    75% {transform: rotateY(-45deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes bounce {
    0% {scale: 1;}
    15% {scale: 0.9;}
    35% {scale: 1.11 ;}
    50% {scale: 1.07 ;}
    65% {scale: 1.11;}
    85% {scale: 1.07;}
    100% {scale: 1.11;}  
}

.info {
    font-weight: bold;
    margin-bottom: 10px;
}

.inputs {
    width: 95%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    border-style: none;
}

/* input::placeholder {
    font-style: normal;
} */

.preferred {
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    height: 30px;
}

.radio-inputs {
    margin-bottom: 20px;
}

.message-input {
    width: 95%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    resize: none;
    box-sizing: border-box;
    color: black;
    margin-bottom: 70px;
}

.submit-btn {
    padding: 10px;
    width: 95%;
    border-radius: 24px;
    border-style: none;
    transition: box-shadow 0.3s ease-out;
}

.submit-btn:hover {
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0px 0px 5px -2px black;
}



/*A 8,8 0 0 0 0 292,60 L 165 60 L 150 80 L 135 60 L 8 60  A 8 8 0,0,0 0 50  */


